/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.html {
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman';
  background: #122a39;
  background-origin: border-box;
  /* background: rgb(6, 6, 6); */
  
  
}

/* .................utility classes............ */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}
.btn1 {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  font-weight: small;
  border: none;
}
.btn5{
  background-color: transparent;
  border: none;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}
.btn-primary1 {
  color: #fff;
  background: transparent;
}

.btn-primary:hover {
  background:transparent;
  border: 3px solid #16a083;
  color: #000;
  transition: background 0.2s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar {
  /* box-shadow: 0px 5px 10px 0px #aaa; */
  position: fixed;
  width: 100%;
  background: rgb(5, 96, 243);
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menubar-items {
  order: 2;
  display: flex;
}

.menubar-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: cursive;
}

.menubar-items a {
  text-decoration: none;
  color: rgb(254, 253, 253);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menubar-items a:hover {
  color: #f60aee;
  transition: color 0.3s ease-in-out;
}

.logo{
  order: 1;
  font-family: cursive;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  color: #f5be0a;
   border-radius: 1px 30px 0px 30px;
  text-shadow: 2px 2px 4px #0b0b0bec;
  
}

/* ............//// Showcase styling ////......... */

.showcase-area {
  height: 100vh;
   background: linear-gradient(
    rgba(240, 240, 240, 0.071),
    rgba(241, 240, 240, 0.332)
  ),
  url("images/back1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
  
}

/* ......//about us//...... */

#about {
  padding: 50px 0;
  padding: 2px;
  background: #122a39;
  

}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 2.3rem;
  color: #fff;
}

#about p {
  font-size: 1.2rem;
  color:#fff;
  font-family: cursive;
}

#about .small {
  font-size: 3.2rem;
  color: rgb(249, 245, 245);
  font-weight: 600;
}

.about-img img {
  flex: 1 1 400px;
  padding: 30px;
  border-radius: 50px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}


@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}


/* .........../course /............ */

#course-menu{
  background: #122a39;

}
.course-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: #fff;
  font-family: cursive;
}

.course-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
  
}

.course-menu-container img {
  display: block;
  width: 250px;
  height: 250px;
  border: 1rem solid rgb(45, 74, 124);
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  
}

.course-menu-item {
  display:flex;
  flex: 1 1 600px;
  border:1px solid rgba(253, 251, 251, 0.532) ;
  border-radius: 10px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  background: #6774ec4e;
}

.course-description {
  margin: auto 1.5rem;
  }

.course-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;
}

.course-description p {
  font-size: 1.4rem;
  color: #fbf9f9;
  font-weight: 500;
  font-size: 18px;
}
.course-description h2{
  color: #f5be0a;
  font-family: cursive;
}
/* ........ Contact Us........... */

#contact {
  padding: 5rem 0;
  background: #122a39;
  
  
}

.contact-container {
  display: flex;
    background: transparent;
  
}

.contact-img {
  width: 50%;
}

.contact-img img {
  display: block;
  height: 400px;
  width: 100%;
  border: 1px solid rgba(0, 183, 255, 0.642);
  border-radius: 10px 100px 10px 10px;
  object-position: center;
  object-fit: cover;
}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
  font-family: cursive;
  
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border: 3px red;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  background: transparent;
  outline: none;
  margin-bottom: 1rem;
  color: rgb(252, 251, 251);
  font-weight: 500;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  background: #0aacf26e;
  border-bottom: 2px solid #ddd;
  color: rgb(248, 246, 246);
  outline: none;
  padding: 1rem 0;
  resize: none;
  border-radius: 5px;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: rgb(249, 246, 246);
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.form-container a {
  font-size: 1.3rem;
}

footer {
  display: flex;
  flex-direction: column;
  
  background: #080808;
 
  align-items: center;
  color: rgb(250, 246, 246);
 
}
#footer{
  color: rgb(244, 247, 247);
  height: 50px;
}

.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
}
.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}
.footer0:hover {
  color: rgb(243, 168, 7);
}
.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer3 {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer2 .heading:hover {
  color: rgb(243, 168, 7);
}
.footer2 .div:hover {
  transform: scale(1.05);
  color: #0aacf2;
}
.footer3 h4 {
  margin: 0 10px;
}
.footer2 div {
  margin: 10px;
}
.menu {
  visibility: hidden;
}
.heading1 .ham:active {
  color: red;
}
.items {
  overflow: hidden;
}
.ham,.close {
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .heading ul li {
    display: none;
  }

  .items {
    transform: scale(0.9);
  }
  .img-slider img {
    height: 60vw;
    width: 80vw;
  }
  .ham:active {
    color: red;
  }
  

/* ......../ media query responsive /.......... */

@media (max-width: 720px) {
  .navbar {
    opacity: 0.95;
  }
 
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

 .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    right: 15px;
    font-size: 2rem;
    margin-top: 10px;
    
  }

  /* ......./ course /......... */

}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

   .course-menu-container img {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 20%;
  }

  .course-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .course-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
    
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 2rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}


@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50px;
    width: 50px;
  }
}
}